# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/ben-moorlach/dist
/ben-moorlach/tmp
/ben-moorlach/out-tsc
/ben-moorlach/bazel-out

# Node
/ben-moorlach/node_modules
/ben-moorlachnpm-debug.log
/ben-moorlachyarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/ben-moorlach/.angular/cache
.angular/cache
.sass-cache/
/ben-moorlach/connect.lock
/ben-moorlach/coverage
/ben-moorlach/libpeerconnection.log
testem.log
/ben-moorlach/typings

# System files
.DS_Store
Thumbs.db
